/* Переменные для шрифтів */
:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --color-slate: #434455;
  --color-white: #FFFFFF;
  --color-logo: #4d5ae5;
  --color-logo-span: #2e2f42;
  --color-background-section: #F4F4FD;
}

/* Стили для заголовків і логотипа */
.page-logo {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}

.page-logo span {
  color: var(--color-logo-span);
}

.menu-link {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* Стили для секцій */
.features-section,
.team-section,
.portfolio-section {
  background-color: var(--color-background-section);
  padding: 20px;
}

.features-heading,
.team-heading,
.portfolio-heading {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.features-list,
.team-list,
.portfolio-list {
  list-style: none;
  padding: 0;
}

.features-item,
.team-member,
.portfolio-item {
  margin-bottom: 20px;
}

.features-item-heading,
.team-member-name,
.portfolio-item-heading {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-item-paragraph,
.team-member-role,
.portfolio-item-paragraph {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* Загальні стилі */
ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Footer */
.footer-logo {
  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-logo);
}

.footer-description {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-slate);
}